@model PruebaBlueSoft_parte3.Models.Transacciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transacciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTransaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaTransaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaTransaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuentas.CiudadOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuentas.CiudadOrigen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
